polars # use instead of pandas for better performance with large files
fastexcel # so polars can read excel
openpyxl # for manipulating excel templates
xlsxwriter # alternative to openpyxl that supports cached formula values
pandas # for data manipulation
pyarrow # for parquet support in pandas (preserves categorical dtypes)
pytest # for automated testing